<div class="list">
  <section class="list-search">
    <form [formGroup]="searchForm" class="search">
      <input type="text" formControlName="search" class="search-input"
        placeholder="Type Search string" />
    </form>
  </section>
  <section class="list-items items">
    <div class="items-container" *ngFor="let item of items; let i=index">
      <app-list-item [item]="item" (selected)="selectItem(i)"></app-list-item>
    </div>
  </section>
</div>
