@import '../../../../../assets/definitions.scss';

.items {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  justify-content: center;
  &-container {
    padding: 1rem 0.5rem 0;
    width: 15%;
  }
}

.search {
  &-input {
    border: 0px;
    border-bottom: 1px solid $color-gray;
    font-size: 1.3rem;
    padding: 1rem 0.5rem;
    width: 100%;
  }
}

.list {
  display: flex;
  flex-direction: column;
  height: 100%;
  &-items {
    overflow: scroll;
  }
}