<nav class="menu">
  <div class="logo">The Pokedex App</div>
  <ul class="menu-buttons">
    <li *ngIf="url === '/details'" class="menu-button"><a [routerLink]="'/pokedex'">Home</a></li>
    <li *ngIf="url !== '/register' && url !== '/login'" class="menu-button">
      <a (click)="handleLogout($event)">Logout</a>
    </li>
    <li *ngIf="url === '/register'" class="menu-button"><a [routerLink]="'/login'">Login</a></li>
    <li *ngIf="url === '/login'" class="menu-button"><a [routerLink]="'/register'">Register</a></li>
  </ul>
</nav>