@import '../../../assets/definitions.scss';

.menu {
  align-items: center;
  background: $color-yellow;
  color: $color-dark-gray;
  display: flex;
  padding:  0 0.5rem;
  height: 3rem;
  &-buttons {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    margin: 0 0 0 3rem;
    padding:0;
    width: 100%;
  }

  &-button {
    align-items: center;
    cursor: pointer;
    display: flex;
    font-size: $font-size-button;
    padding: 0 2rem;
    height: 3rem;
    vertical-align: center;
    &:hover {
      background: $color-blue;
    }
    a {
      display: block;
      line-height: 3rem;
      text-decoration: none;
      &:hover,
      &:visited {
        color: $color-white;
      }
    }
  }
}

.logo {
  font-size: $font-size-logo;
  color: $color-light-yellow;
  font-weight: bold;
  width: 13rem;
}

