<div class="listitem" (click)="select($event)">
    <div>{{item.name}}</div>
  <div class="listitem-image"><img [src]="item.sprites.front_default" /></div>
  <div>
    <div>{{item.tipos | json}}</div>
  </div>
</div>
