@import '../../../../../../assets/definitions.scss';

.listitem {
  align-items: center;
  border: 1px solid $color-gray;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}