<section class="pokemon">
  <div class="pokemon-image">
    <img [src]="pokemon.sprites.front_default" [alt]="pokemon.name" />
  </div>
  <div class="pokemon-details">
    <div class="item">Id: <span class="item-details">{{pokemon.id}}</span></div>
    <div class="item">Name: <span class="item-details">{{pokemon.name}}</span></div>
    <div class="item">Types: <div class="item-details">
        {{types | arrayToCommaString }}
    </div>
  </div>
    <div class="item">Height: <span class="item-details">{{pokemon.height}}</span></div>
    <div class="item">Weight: <span class="item-details">{{pokemon.weight}}</span></div>
    <div class="item">Movements: <div class="item-details">
       {{moves | arrayToCommaString }}
      </div>
    </div>
  </div>
</section>