@import '../../../../../assets/definitions.scss';

.item{

  font-weight: bold;
  &-details {
    display: inline-block;
    font-weight: normal;
  }

  &-list {
    ul {
      margin: 0;
      padding:0;
      list-style: none;
    }
  }
}

.pokemon {
  display: flex;
  padding: 1rem 2rem;
  &-image{
    align-self: center;
    border-right: 1px solid $color-gray; 
    padding: 1rem;
    width: 20%;
    img{
      display: block;
      margin: auto;
    }
  }

  &-details {
    padding: 1rem;
    width: 100%;
  }
}