@import '../../../../../assets/definitions.scss';


.register {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
}

.registerpanel {
  @include panel;
  width: 40%;
}

.form {
  &-element{
    @include form-element;
  }

  &-buttons {
    justify-content: flex-end;
    display: flex;
    margin: 1rem 0;
  }
  
  &-error{
    @include error;
  }
}

.button {
  @include button();
}