<div class="register">
  <div class="registerpanel">
    <div class="registerpanel-header">
      Register
    </div>
    <div class="registerpanel-body" [formGroup]="registerForm">
      <div class="form">
        <div class="form-element">
          <label for="name">Name</label>
          <input type="text" id="name" placeholder="Enter your name" formControlName="name" />
        </div>
        <div class="form-element">
          <label for="email">Email</label>
          <input type="text" id="email" placeholder="Enter email" formControlName="email" />
          <div class="form-error" *ngIf="registerForm.touched">
            <span *ngIf="registerForm.controls.email.errors?.pattern">
              Email is incorrect
            </span>
            <span *ngIf="registerForm.controls.email.errors?.required">
              Email is required
            </span>
          </div>
        </div>
        </div>
        <div formGroupName="passwords">
          <div class="form-element">
            <label for="password">Password</label>
            <input type="password" id="password" placeholder="Enter password" formControlName="password" />
          </div>
          <div class="form-error" *ngIf="registerForm.touched">
              <span *ngIf="registerForm.controls.passwords.controls.password.errors?.pattern">
                Password must have at least two special characters, two capital letters and a number
              </span>
              <span *ngIf="registerForm.controls.passwords.controls.password.errors?.required">
                  Password is Required
              </span>
              <span *ngIf="registerForm.controls.passwords.controls.password.errors?.minlenght">
                Password must have at least 8 characters
              </span>
          </div>
          <div class="form-element">
            <label for="passwordConfirm">Password Confirmation</label>
            <input type="password" id="passwordConfirm" placeholder="Confirm your password" formControlName="passwordConfirm" />
          </div>
          <div class="form-error" *ngIf="registerForm.touched">
            <span *ngIf="registerForm.controls.passwords.errors?.different">
              Password are different
            </span>
          </div>
        </div>
        <div class="form-buttons">
          <button (click)="register($event)" class="button">Register</button>
          <button (click)="login($event)" class="button">Go to Login</button>
        </div>
    </div>
  </div>
</div>
