<div class="login">
  <div class="loginpanel">
    <div class="loginpanel-header">
      Login
    </div>
    <div class="loginpanel-body" [formGroup]="loginForm">
      <div class="form">
        <div class="form-element">
          <label for="username">Email</label>
          <input type="text" id="username" placeholder="Enter email" formControlName="email" />
        </div>
        <div class="form-element">
          <label for="password">Password</label>
          <input type="password" id="password" placeholder="Enter password" formControlName="password" />
        </div>
        <div class="form-error" *ngIf="loginForm.touched && loginForm.invalid && loginForm.errors">
          <span *ngIf="loginForm.errors.required">
            Values are required.
          </span>
          <span *ngIf="loginForm.errors.notValid">
            Wrong email or password.
          </span>
        </div>
        <div class="form-buttons">
          <button (click)="enter($event)" class="button">Let me Enter</button>
          <button (click)="register($event)" class="button">Register</button>
        </div>
      </div>
    </div>
  </div>
</div>