$color-black: #000;
$color-white: #fff;
$color-gray: #aaa;
$color-dark-gray: #666;
$color-light-gray: #ccc;
$color-yellow: #f7c36a;
$color-light-yellow: #FFF2DB;
$color-blue: #7693B3;
$color-light-blue: #DBEDFF;
$color-error: #852D13;

$font-size: 16px;
$font-size-error: 0.8rem;
$font-size-logo: 1.1rem;
$font-size-button: 0.8rem;

@mixin button($color: $color-blue, $text-color: $color-white) {
  background: $color;
  border: 1px solid $color-light-gray;
  border-radius: 0.25rem;
  color: $text-color;
  cursor: pointer;
  font-size: 0.8rem; 
  padding: 0.4rem 1.4rem;
  margin: 0 0.25rem;
  &[disabled] {
    background: $color-gray;
    cursor: not-allowed;
    color: $color-light-gray;
  }
}

@mixin panel {
  border: 1px solid $color-light-gray;
  border-radius: 0.5rem;
  margin: auto;
  overflow: hidden;

  &-header {
    background: $color-yellow;
    color: $color-white;
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem;;
  }

  &-body {
    padding: 1rem 1.5rem;;
  }
}

@mixin form-element {
  width: 100%;
  * {
    box-sizing: border-box;
  }

  label {
    display: block;
    font-weight: bold;
    font-size: 0.9rem;
    margin: 0.5rem 0;
  }

  input {
    padding: 0.4rem;
    width: 100%; 
  }

  textarea {
    height: 7rem;
    overflow: auto;
    padding: 0.25rem;
    resize: none;
    width: 100%;
  }
}

@mixin error {
  font-size: 0.8rem;
  color: $color-error;
}